@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h3, h3, h4, h3, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'aaarghnormal';
  src: url("../../../Font/webfonts/aaargh/Aaargh-webfont.eot");
  src: url("../../../Font/webfonts/aaargh/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("../../../Font/webfonts/aaargh/Aaargh-webfont.woff") format("woff"), url("../../../Font/webfonts/aaargh/Aaargh-webfont.ttf") format("truetype"), url("../../../Font/webfonts/aaargh/Aaargh-webfont.svg#aaarghnormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'edoregular';
  src: url("../../../Font/webfonts/edo/edo-webfont.eot");
  src: url("../../../Font/webfonts/edo/edo-webfont.eot?#iefix") format("embedded-opentype"), url("../../../Font/webfonts/edo/edo-webfont.woff") format("woff"), url("../../../Font/webfonts/edo/edo-webfont.ttf") format("truetype"), url("../../../Font/webfonts/edo/edo-webfont.svg#edoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body .wrapper {
  background-color: #F3E9F1;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'aaarghnormal', sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  body .wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  body .wrapper {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  body .wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  margin: 0 auto 0 auto;
}

header .enTete {
  width: 100%;
}

header #logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
}

header #logo .logoImg {
  width: 20%;
  margin: 10px 10px 0 10px;
}

header #logo h1 {
  margin-top: 1rem;
  font-family: "edoregular";
  color: #261624;
  font-size: 3rem;
}

@media (min-width: 768px) {
  header #logo h1 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  header #logo h1 {
    font-size: 6.5rem;
  }
}

@media (min-width: 1200px) {
  header #logo h1 {
    font-size: 8rem;
  }
}

header .separateur {
  width: 100%;
  height: 10px;
  margin: 20px 0 20px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  margin: 20px 0 10px 0;
  vertical-align: bottom;
  margin-right: 1rem;
  padding-top: 4rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 768px) {
  nav ul li {
    padding-top: 3rem;
    margin: 49px 0 10px 0;
  }
}

@media (min-width: 992px) {
  nav ul li {
    padding-top: 5rem;
  }
}

@media (min-width: 1200px) {
  nav ul li {
    padding-top: 7.5rem;
  }
}

nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav ul #liAcc {
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  nav ul #liAcc {
    font-size: 2rem;
  }
}

nav ul #liPanier {
  margin: -5px 20px 0 0;
  position: relative;
}

@media (min-width: 768px) {
  nav ul #liPanier {
    margin: 15px 20px 0 20px;
  }
}

nav ul #liPanier .panierImg {
  width: 50px;
}

@media (min-width: 768px) {
  nav ul #liPanier .panierImg {
    width: 65px;
  }
}

nav ul #liPanier #nbCmde {
  left: 55%;
  top: 90px;
  position: absolute;
  background-color: salmon;
  color: white;
  border-radius: 50%;
  padding: 3px 5px;
  visibility: hidden;
}

@media (min-width: 768px) {
  nav ul #liPanier #nbCmde {
    padding: 10px 12px;
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  nav ul #liPanier #nbCmde {
    top: 120px;
  }
}

@media (min-width: 1200px) {
  nav ul #liPanier #nbCmde {
    top: 160px;
  }
}

footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer li {
  margin-left: 5px;
}

h2 {
  margin-left: 2%;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}

#produits {
  margin: 30px 0 50px 0;
}

#produits ul li {
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px;
  border: 1px #925DF5 solid;
  border-radius: 15px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: #F3E9F1;
}

@media (min-width: 992px) {
  #produits ul li {
    width: 70%;
  }
  #produits ul li:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 1200px) {
  #produits ul li {
    width: 50%;
  }
}

#produits ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #produits ul li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#produits ul li a .picted {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 20em;
  height: 20em;
  margin: auto;
}

@media (min-width: 992px) {
  #produits ul li a .picted {
    width: 30em;
    height: 30em;
  }
}

@media (min-width: 992px) {
  #produits ul li a .picted {
    width: 18em;
    height: 18em;
  }
}

#produits ul li a .info {
  padding: 0%;
}

@media (min-width: 768px) {
  #produits ul li a .info {
    font-size: 1.5rem;
    padding: 20px;
  }
}

#produits ul li a .info .name {
  padding: 10px 0 10px 10px;
}

#produits ul li a .info .description,
#produits ul li a .info .descriptionTitle {
  padding: 10px 0 0 10px;
}

#produits ul li a .info .price {
  padding: 20px 0 0 10px;
}

#articlePanier .separateur {
  width: 100%;
  height: 10px;
  margin: 20px 0 20px 0;
}

#panierClient li {
  margin: 10px auto 10px auto;
  width: 90%;
  padding: 10px;
  border: 1px #925DF5 solid;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #panierClient li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  #panierClient li {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  #panierClient li {
    width: 70%;
  }
}

#panierClient li .pictedPanier {
  border-radius: 15px;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #panierClient li .pictedPanier {
    width: 21rem;
  }
}

@media (min-width: 1200px) {
  #panierClient li .pictedPanier {
    margin-left: 0;
    margin-right: 0;
  }
}

#panierClient li .infoPanier {
  padding-top: 15px;
}

@media (min-width: 768px) {
  #panierClient li .infoPanier {
    padding: 20px;
    margin-left: 5%;
  }
}

#panierClient li .infoPanier .namePanier,
#panierClient li .infoPanier .couleurPanier,
#panierClient li .infoPanier .pricePanier {
  padding: 10px 0 0 10px;
}

@media (min-width: 768px) {
  #panierClient li .infoPanier .namePanier,
  #panierClient li .infoPanier .couleurPanier,
  #panierClient li .infoPanier .pricePanier {
    padding: 10px 0 10px 10px;
  }
}

@media (min-width: 992px) {
  #panierClient li .infoPanier .namePanier,
  #panierClient li .infoPanier .couleurPanier,
  #panierClient li .infoPanier .pricePanier {
    padding: 15px 0 20px 10px;
  }
}

#panierClient li .oursInfoQuantPanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#panierClient li .oursInfoQuantPanier .légendeQuantitéPanier {
  padding: 10px 0 0 10px;
}

#panierClient li .oursInfoQuantPanier .quantitéPanier {
  padding: 5px 5px 0 5px;
}

#panierClient li .oursInfoQuantPanier .moinsQuantité,
#panierClient li .oursInfoQuantPanier .plusQuantité {
  margin: 0 5px 0 5px;
}

#clear,
#prixTotalPanierCmde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#clear #prixTotalPanier,
#prixTotalPanierCmde #prixTotalPanier {
  border-bottom: 1px #925DF5 solid;
  margin: 20px auto;
  padding: 5px 2px 5px 2px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  color: #000;
}

#clear #panier,
#prixTotalPanierCmde #panier {
  margin: 20px auto;
  padding: 5px 2px 5px 2px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  color: #fff;
  background-color: #925DF5;
  -webkit-box-shadow: 2px 2px 1px #E68A0A;
          box-shadow: 2px 2px 1px #E68A0A;
  border: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#clear #panier:hover,
#prixTotalPanierCmde #panier:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#form form {
  border: 1px #925DF5 solid;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #form form {
    width: 70%;
    padding: 15px;
  }
}

#form form label {
  margin: 0 0 5px 0;
}

#form form input {
  margin: 0 0 30px 0;
}

#form form #validCmdBtn {
  margin: 20px auto;
  padding: 5px 2px 5px 2px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  color: #fff;
  background-color: #925DF5;
  -webkit-box-shadow: 2px 2px 1px #E68A0A;
          box-shadow: 2px 2px 1px #E68A0A;
  border: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#form form #validCmdBtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#item {
  margin: 30px 0 50px 0;
  border: 1px #925DF5 solid;
  border-radius: 15px;
  width: 90%;
  margin: 10px auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#item #oursItem {
  padding: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#item .picted {
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  #item .picted {
    width: 400px;
    height: 400px;
  }
}

#item .info {
  padding: 0 20px;
}

#item .info .name {
  padding: 10px 0 10px 10px;
}

#item .info .description,
#item .info .descriptionTitle {
  padding: 10px 0 0 10px;
}

#item .info .description {
  padding-bottom: 30px;
}

#item .info .price {
  padding: 20px 0 0 10px;
}

#optionLabel,
#colors,
#panier {
  margin: 0px 0 0px 10px;
}

@media (min-width: 992px) {
  #optionLabel,
  #colors,
  #panier {
    margin: 10px 0 20px 10px;
  }
}

#colors {
  font-family: 'aaarghnormal';
  background-color: #F3E9F1;
  padding: 3px;
}

#bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15%;
}

#bouton #panier {
  padding: 5px 2px 5px 2px;
  margin-bottom: 10px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  color: #fff;
  background-color: #925DF5;
  -webkit-box-shadow: 2px 2px 1px #E68A0A;
          box-shadow: 2px 2px 1px #E68A0A;
  border: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#bouton #panier:hover {
  -webkit-transform: scale(1.2) translate(10%, 10%);
          transform: scale(1.2) translate(10%, 10%);
}

#merci {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

#merci .nom,
#merci .numCommande {
  padding: 10px;
}

#merci .nom {
  line-height: 30px;
}

#merci .listeConfirm {
  margin: 10px auto 10px auto;
  width: 70%;
  padding: 10px;
  border: 1px #925DF5 solid;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #merci .listeConfirm {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#merci .listeConfirm .miseEnForme {
  padding: 5px 15px;
  margin: auto;
}

#merci #prixTotalPanier {
  border-bottom: 1px #925DF5 solid;
  margin: 20px auto 100px auto;
  padding: 5px 2px 5px 2px;
}
/*# sourceMappingURL=style.css.map */