@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h3, h3, h4, h3, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'aaarghnormal';
  src: url("../../../Font/webfonts/aaargh/Aaargh-webfont.eot");
  src: url("../../../Font/webfonts/aaargh/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("../../../Font/webfonts/aaargh/Aaargh-webfont.woff") format("woff"), url("../../../Font/webfonts/aaargh/Aaargh-webfont.ttf") format("truetype"), url("../../../Font/webfonts/aaargh/Aaargh-webfont.svg#aaarghnormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'edoregular';
  src: url("../../../Font/webfonts/edo/edo-webfont.eot");
  src: url("../../../Font/webfonts/edo/edo-webfont.eot?#iefix") format("embedded-opentype"), url("../../../Font/webfonts/edo/edo-webfont.woff") format("woff"), url("../../../Font/webfonts/edo/edo-webfont.ttf") format("truetype"), url("../../../Font/webfonts/edo/edo-webfont.svg#edoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body .wrapper {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'aaarghnormal', sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  body .wrapper {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  body .wrapper {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  body .wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #a0c4ff;
  margin: 10px;
}

@media (min-width: 768px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .enTete {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  header .enTete {
    width: 50%;
    margin: 0;
  }
}

header .enTete a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .enTete .logoImg {
  height: 100px;
  margin: 10px 10px 0 10px;
}

header .enTete h1 {
  margin-top: 1rem;
  font-family: "edoregular";
  color: #a0c4ff;
  font-size: 5rem;
}

nav {
  width: 100%;
}

@media (min-width: 768px) {
  nav {
    width: 50%;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  nav ul {
    padding-right: 20%;
  }
}

nav ul li {
  margin: 30px 0 10px 0;
  vertical-align: bottom;
  margin-right: 1rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media (min-width: 768px) {
  nav ul li {
    margin-top: 80px;
  }
}

nav li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

nav #liAcc {
  font-weight: bold;
  font-size: 2rem;
}

nav #liAcc a {
  color: #a0c4ff;
}

nav #liPanier {
  position: relative;
  margin: 0px 20px 0 20px;
}

@media (min-width: 768px) {
  nav #liPanier {
    margin-top: 45px;
  }
}

nav #liPanier .panierImg {
  width: 65px;
}

nav #liPanier #nbCmde {
  left: 55%;
  top: 27px;
  position: absolute;
  background-color: #bdb2ff;
  color: white;
  border-radius: 50%;
  padding: 3px 5px;
  visibility: hidden;
  font-size: 1.5rem;
  padding: 10px 12px;
}

@media (min-width: 768px) {
  nav #liPanier #nbCmde {
    top: 30px;
  }
}

footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer li {
  margin-left: 5px;
}

h2 {
  margin-top: 50px;
  margin-left: 2%;
  font-size: 1.5rem;
}

#produits {
  margin: 30px 0 50px 0;
}

#produits ul {
  width: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1200px) {
  #produits ul {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

#produits li {
  width: 50%;
  margin: 10px auto 10px auto;
  padding: 3%;
}

#produits li:hover {
  background-color: #fdffb6;
  border-radius: 15px;
}

@media (min-width: 768px) {
  #produits li {
    width: 30%;
    padding: 0.5%;
  }
}

@media (min-width: 1200px) {
  #produits li {
    width: 20%;
  }
}

#produits li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a0c4ff;
}

#produits li a .picted {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 20em;
  height: 20em;
  margin: 30px auto;
}

@media (min-width: 768px) {
  #produits li a .picted {
    width: 10em;
    height: 10em;
  }
}

#produits li a .info {
  padding: 0%;
  color: #000;
}

@media (min-width: 768px) {
  #produits li a .info {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  #produits li a .info {
    padding: 0;
    margin: 1%;
  }
}

#produits li a .info .name {
  color: #a0c4ff;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 0 10px 10px;
}

#produits li a .info .description,
#produits li a .info .descriptionTitle {
  padding: 10px 10px 0 10px;
}

#produits li a .info .price {
  color: #a0c4ff;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0 0 10px;
}

#articlePanier .separateur {
  width: 100%;
  border-bottom: 1px solid #a0c4ff;
  margin: 30px 0 50px 0;
}

#panierClient li {
  margin: 10px auto 10px auto;
  width: 90%;
  padding: 10px;
  border: 1px #a0c4ff solid;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #panierClient li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  #panierClient li {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  #panierClient li {
    width: 70%;
  }
}

#panierClient li .pictedPanier {
  border-radius: 15px;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #panierClient li .pictedPanier {
    width: 21rem;
  }
}

@media (min-width: 1200px) {
  #panierClient li .pictedPanier {
    margin-left: 0;
    margin-right: 0;
  }
}

#panierClient li .infoPanier {
  padding-top: 15px;
}

@media (min-width: 768px) {
  #panierClient li .infoPanier {
    margin-top: 20px;
    padding: 10px;
  }
}

#panierClient li .infoPanier .price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  #panierClient li .infoPanier .price {
    margin-right: auto;
    margin-left: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px 0 10px 10px;
  }
}

@media (min-width: 992px) {
  #panierClient li .infoPanier .price {
    padding: 15px 0 20px 10px;
  }
}

#panierClient li .infoPanier .price .pricePanier,
#panierClient li .infoPanier .price .pricePanierUnit,
#panierClient li .infoPanier .price .pricePanierT {
  margin-right: 5px;
}

#panierClient li .infoPanier .price .pricePanier,
#panierClient li .infoPanier .price .pricePanierT {
  padding-top: 8px;
}

#panierClient li .infoPanier .price .pricePanierUnit,
#panierClient li .infoPanier .price .pricePanierTotal {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #panierClient li .infoPanier .price .pricePanierUnit {
    margin-right: 5px;
  }
}

@media (min-width: 992px) {
  #panierClient li .infoPanier .price .pricePanierUnit {
    margin-right: 5px;
  }
}

@media (min-width: 1200px) {
  #panierClient li .infoPanier .price .pricePanierUnit {
    margin-right: 5px;
  }
}

#panierClient li .infoPanier .namePanier {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0 0 10px;
  text-align: center;
}

@media (min-width: 768px) {
  #panierClient li .infoPanier .namePanier {
    text-align: initial;
    padding: 10px 0 10px 10px;
  }
}

@media (min-width: 992px) {
  #panierClient li .infoPanier .namePanier {
    padding: 15px 0 20px 10px;
  }
}

#panierClient li .oursInfoQuantPanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  #panierClient li .oursInfoQuantPanier {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

#panierClient li .oursInfoQuantPanier .légendeQuantitéPanier {
  padding: 10px 0 0 10px;
}

#panierClient li .oursInfoQuantPanier .quantitéPanier {
  padding: 5px 5px 0 5px;
}

#panierClient li .oursInfoQuantPanier .moinsQuantité,
#panierClient li .oursInfoQuantPanier .plusQuantité {
  margin: 0 5px 0 5px;
}

#clear,
#prixTotalPanierCmde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#clear #prixTotalPanier,
#prixTotalPanierCmde #prixTotalPanier {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 1px #a0c4ff solid;
  margin: 20px auto;
  padding: 5px 2px 5px 2px;
  font-family: 'aaarghnormal';
}

#clear #panier,
#prixTotalPanierCmde #panier {
  margin: 20px auto;
  padding: 5px 2px 5px 2px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  color: #FFF;
  font-size: 1.5rem;
  background-color: #a0c4ff;
  -webkit-box-shadow: 2px 2px 1px #fdffb6;
          box-shadow: 2px 2px 1px #fdffb6;
  border: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#clear #panier:hover,
#prixTotalPanierCmde #panier:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#form form {
  border: 1px #a0c4ff solid;
  border-radius: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #form form {
    width: 70%;
    padding: 15px;
  }
}

#form form label {
  font-weight: bold;
  margin: 0 0 5px 0;
}

#form form input {
  margin: 0 0 30px 0;
}

#form form #validCmdBtn {
  margin: 20px auto;
  padding: 5px 2px 5px 2px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  background-color: #a0c4ff;
  -webkit-box-shadow: 2px 2px 1px #fdffb6;
          box-shadow: 2px 2px 1px #fdffb6;
  border: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#form form #validCmdBtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#item {
  margin: 30px 0 50px 0;
  border: 1px #a0c4ff solid;
  border-radius: 15px;
  width: 90%;
  margin: 10px auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#item #oursItem {
  padding: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #item #oursItem {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#item .picted {
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 768px) {
  #item .picted {
    width: 400px;
    height: 400px;
  }
}

#item .info {
  padding: 0 20px;
}

#item .info .name {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px 0 10px 10px;
}

#item .info .description,
#item .info .descriptionTitle {
  padding: 10px 0 0 10px;
}

#item .info .description {
  padding-bottom: 30px;
}

#item .info .price {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px 0 0 10px;
}

.moinsQuantité,
.plusQuantité {
  height: 25px;
}

#optionLabel,
#colors,
#panier {
  margin: 0px 0 0px 10px;
}

@media (min-width: 992px) {
  #optionLabel,
  #colors,
  #panier {
    margin: 10px 0 20px 10px;
  }
}

#colors {
  font-family: 'aaarghnormal';
  background-color: #FFF;
  padding: 3px;
}

#bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5%;
}

@media (min-width: 992px) {
  #bouton {
    padding-right: 15%;
  }
}

#bouton #panier {
  padding: 5px 2px 5px 2px;
  margin-bottom: 10px;
  font-family: 'aaarghnormal';
  font-weight: bold;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #a0c4ff;
  -webkit-box-shadow: 2px 2px 1px #fdffb6;
          box-shadow: 2px 2px 1px #fdffb6;
  border: 0;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#bouton #panier:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#merci {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

#merci .nom,
#merci .numCommande,
#merci .nbOrder {
  padding: 10px;
}

#merci .nom {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 30px;
}

@media (min-width: 768px) {
  #merci .order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#merci .order .nbOrder {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
}

#merci .listeConfirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto 10px auto;
  width: 70%;
  padding: 10px;
  border: 1px #a0c4ff solid;
  border-radius: 15px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  #merci .listeConfirm {
    width: 90%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#merci .listeConfirm .miseEnFormeN,
#merci .listeConfirm .miseEnFormePU,
#merci .listeConfirm .miseEnFormeQ,
#merci .listeConfirm .miseEnFormePT {
  padding: 5px 15px;
  margin: auto;
}

#merci .listeConfirm .miseEnFormePT,
#merci .listeConfirm .miseEnFormeN {
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
}

#merci #prixTotalPanier {
  border-bottom: 1px #a0c4ff solid;
  text-align: center;
  color: #a0c4ff;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 20px auto 100px auto;
  padding: 5px 2px 5px 2px;
}
/*# sourceMappingURL=style.css.map */