$color-prim: #a0c4ff;
$color-sec: #fdffb6;
$color-ter: #bdb2ff;
$color-back: #FFF;
$color-text: #000;
$color-com: #7E7E7E;
$color-font-foot: #fff;
$color-footer: #353535;
$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;