$color-prim: #925DF5;
$color-sec: #E68A0A;
$color-ter: #261624;
$color-back: #F3E9F1;
$color-text: #000;
$color-com: #7E7E7E;
$color-font-foot: #fff;
$color-footer: #353535;
$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;