nav {
    & ul {
        display: flex;
        justify-content: flex-end;
        li {
            margin: 20px 0 10px 0;
            vertical-align: bottom;
            margin-right: 1rem;
            padding-top: 4rem;
            transition: transform 0.5s;
            @include md {
                padding-top: 3rem;
                margin: 49px 0 10px 0;
            }
            @include lg {
                padding-top: 5rem;
            }
            @include xl {
                padding-top: 7.5rem;
            }
        }
        & li:hover {
            transform: scale(1.2);
        }
        #liAcc {
            font-weight: bold;
            font-size: 1.5rem;
            @include md {
                font-size: 2rem;
            }
        }
        #liPanier {
            margin: -5px 20px 0 0;
            position: relative;
            @include md {
                margin: 15px 20px 0 20px;
            }
            & .panierImg {
                width: 50px;
                @include md {
                    width: 65px;
                }
            }
            #nbCmde {
                left: 55%;
                top: 90px;
                position: absolute;
                background-color: salmon;
                color: white;
                border-radius: 50%;
                padding: 3px 5px;
                visibility: hidden;
                @include md {
                    padding: 10px 12px;
                    font-size: 1.5rem;
                }
                @include lg {
                    top: 120px;
                }
                @include xl {
                    top: 160px;
                }
            }
        }
    }
}