nav {
    & ul {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
        li {
            margin: 20px 0 10px 0;
            vertical-align: bottom;
            margin-right: 1rem;
            padding-top: 4rem;
            transition: transform 0.5s;
        }
        & li:hover {
            transform: scale(1.2);
        }
        #liAcc {
            position: absolute;
            left: 800px;
        }
        #liPanier {
            margin: -10px 10px 0 0;
            position: absolute;
            left: 900px;
            & .panierImg {
                width: 50px;
            }
            #nbCmde {
                left: 55%;
                top: 90px;
                position: absolute;
                background-color: salmon;
                color: white;
                border-radius: 50%;
                padding: 3px 5px;
                visibility: hidden;
            }
        }
    }
}