#merci {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    .nom,
    .numCommande {
        padding: 10px;
    }
    .nom {
        line-height: 30px;
    }
    .listeConfirm {
        margin: 10px auto 10px auto;
        width: 70%;
        padding: 10px;
        border: 1px $color-prim solid;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        @include md {
            width: 90%;
            flex-direction: row;
        }
        .miseEnForme {
            padding: 5px 15px;
            margin: auto;
        }
    }
    #prixTotalPanier {
        border-bottom: 1px #925DF5 solid;
        margin: 20px auto 100px auto;
        padding: 5px 2px 5px 2px;
    }
}