h2 {
    margin-top: 50px;
    margin-left: 2%;
    font-size: 1.5rem;
}

#produits {
    margin: 30px 0 50px 0;
    ul {
        width: 99%;
        display: flex;
        flex-wrap: wrap;
        @include xl {
            flex-wrap: nowrap;
        }
    }
    li {
        width: 50%;
        margin: 10px auto 10px auto;
        padding: 3%;
        &:hover {
            background-color: $color-sec;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
        }
        @include md {
            width: 30%;
            padding: 0.5%;
        }
        @include xl {
            width: 20%;
        }
        a {
            display: flex;
            flex-direction: column;
            color: $color-prim;
            @include md {
                //  flex-direction: row;
            }
            .picted {
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                object-fit: cover;
                object-position: center;
                width: 20em;
                height: 20em;
                margin: 30px auto;
                @include md {
                    width: 10em;
                    height: 10em;
                }
            }
            .info {
                padding: 0%;
                color: #000;
                @include md {
                    padding: 20px;
                }
                @include xl {
                    padding: 0;
                    margin: 1%;
                }
                .name {
                    color: $color-prim;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 10px 0 10px 10px;
                }
                .description,
                .descriptionTitle {
                    padding: 10px 10px 0 10px;
                }
                .price {
                    color: $color-prim;
                    font-weight: bold;
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 20px 0 0 10px;
                }
            }
        }
    }
}