h2 {
    margin-left: 30px;
    font-size: 1.2rem;
}

#produits {
    margin: 30px 0 50px 0;
    ul li {
        margin: 10px auto 10px auto;
        width: 50%;
        padding: 10px;
        border: 1px $color-prim solid;
        transition: transform 0.5s;
        background-color: $color-back;
        &:hover {
            transform: scale(1.2);
        }
        a {
            display: flex;
            .picted {
                width: 270px;
                height: 270px;
            }
            .info {
                padding: 20px;
                .name {
                    padding: 10px 0 10px 10px;
                }
                .description,
                .descriptionTitle {
                    padding: 10px 0 0 10px;
                }
                .price {
                    padding: 20px 0 0 10px;
                }
            }
        }
    }
}