#articlePanier {
    .separateur {
        width: 100%;
        border-bottom: 1px solid $color-prim;
        margin: 30px 0 50px 0;
    }
}

#panierClient li {
    margin: 10px auto 10px auto;
    width: 90%;
    padding: 10px;
    border: 1px $color-prim solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
    }
    @include lg {
        width: 70%;
    }
    @include xl {
        width: 70%;
    }
    .pictedPanier {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        width: 15rem;
        margin-left: auto;
        margin-right: auto;
        @include md {
            width: 21rem;
        }
        @include xl {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .infoPanier {
        padding-top: 15px;
        @include md {
            margin-top: 20px;
            padding: 10px;
        }
        .price {
            justify-content: center;
            padding: 10px 0 0 10px;
            display: flex;
            @include md {
                margin-right: auto;
                margin-left: auto;
                flex-wrap: wrap;
                padding: 10px 0 10px 10px;
            }
            @include lg {
                padding: 15px 0 20px 10px;
            }
            .pricePanier,
            .pricePanierUnit,
            .pricePanierT {
                margin-right: 5px;
            }
            .pricePanier,
            .pricePanierT {
                padding-top: 8px;
            }
            .pricePanierUnit,
            .pricePanierTotal {
                color: $color-prim;
                font-weight: bold;
                font-size: 1.5rem;
            }
            .pricePanierUnit {
                @include md {
                    margin-right: 5px;
                }
                @include lg {
                    margin-right: 5px;
                }
                @include xl {
                    margin-right: 5px;
                }
            }
        }
        .namePanier {
            color: $color-prim;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 10px 0 0 10px;
            text-align: center;
            @include md {
                text-align: initial;
                padding: 10px 0 10px 10px;
            }
            @include lg {
                padding: 15px 0 20px 10px;
            }
        }
    }
    .oursInfoQuantPanier {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        @include md {
            justify-content: initial;
        }
        .légendeQuantitéPanier {
            padding: 10px 0 0 10px;
        }
        .quantitéPanier {
            padding: 5px 5px 0 5px;
        }
        .moinsQuantité,
        .plusQuantité {
            margin: 0 5px 0 5px;
        }
    }
}

#clear,
#prixTotalPanierCmde {
    display: flex;
    #prixTotalPanier {
        color: $color-prim;
        font-weight: bold;
        font-size: 1.5rem;
        border-bottom: 1px $color-prim solid;
        margin: 20px auto;
        padding: 5px 2px 5px 2px;
        font-family: 'aaarghnormal';
    }
    #panier {
        margin: 20px auto;
        padding: 5px 2px 5px 2px;
        font-family: 'aaarghnormal';
        font-weight: bold;
        color: #FFF;
        font-size: 1.5rem;
        background-color: $color-prim;
        box-shadow: 2px 2px 1px $color-sec;
        border: 0;
        transition: transform 0.5s;
        &:hover {
            transform: scale(0.8);
        }
    }
}

#form {
    form {
        border: 1px $color-prim solid;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        @include lg {
            width: 70%;
            padding: 15px;
        }
        label {
            font-weight: bold;
            margin: 0 0 5px 0;
        }
        input {
            margin: 0 0 30px 0;
        }
        #validCmdBtn {
            margin: 20px auto;
            padding: 5px 2px 5px 2px;
            font-family: 'aaarghnormal';
            font-weight: bold;
            font-size: 1.5rem;
            color: $color-font-foot;
            background-color: $color-prim;
            box-shadow: 2px 2px 1px $color-sec;
            border: 0;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}