#item {
    margin: 30px 0 50px 0;
    border: 1px $color-prim solid;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 90%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: column-reverse;
    #oursItem {
        padding: 10px;
        transition: transform 0.5s;
        background-color: $color-back;
        display: flex;
        flex-direction: column;
        @include md {}
    }
    .picted {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        object-position: center;
        @include md {
            width: 400px;
            height: 400px;
        }
    }
    .info {
        padding: 0 20px;
        .name {
            padding: 10px 0 10px 10px;
        }
        .description,
        .descriptionTitle {
            padding: 10px 0 0 10px;
        }
        .description {
            padding-bottom: 30px;
        }
        .price {
            padding: 20px 0 0 10px;
        }
    }
}

#optionLabel,
#colors,
#panier {
    margin: 0px 0 0px 10px;
    @include lg {
        margin: 10px 0 20px 10px;
    }
}

#colors {
    font-family: 'aaarghnormal';
    background-color: $color-back;
    padding: 3px;
}

#bouton {
    display: flex;
    justify-content: flex-end;
    padding-right: 15%;
    #panier {
        padding: 5px 2px 5px 2px;
        margin-bottom: 10px;
        font-family: 'aaarghnormal';
        font-weight: bold;
        color: $color-font-foot;
        background-color: $color-prim;
        box-shadow: 2px 2px 1px $color-sec;
        border: 0;
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.2) translate(10%, 10%);
        }
    }
}